@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    text-transform: capitalize;
}

:root{
    --Black:#000000;
    --White:#fafafa; 
    --Green:#18ffff;
}

body{
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(103,9,121,1) 70%, rgba(32,111,128,1) 100%);
 
}



header{
    background-color: var(--Black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    z-index: 200;
}

header .logo{
    display: flex;
    align-items: center;
}

.logo h1{
    color: #fafafa;
    margin-left: 15px;
}

nav a{
    color: #fafafa;
    margin: 0 10px;
    font-size: 22px;
}

nav a:hover{
    color: var(--Green);
}

.icons a{
    color: #fafafa;
    margin: 0 5px;
    font-size: 22px;
}

.icons a:hover{
    color: var(--Green);
}

footer{
    width: 70%;
    margin: 15px auto;
    border-top: 1px solid #fafafa;
    padding: 10px 0;
    font-size: small;
    display: flex;
    justify-content: center;
    color: #fafafa;
}

